# build artifacts
server/resources/**/.*
server/secured/dist/
bin

# badger files
*.mem
*.vlog
*.sst
DISCARD
KEYREGISTRY
MANIFEST
LOCK
__debug*
*.bak
*.old

# test results
.vite/vitest/results.json

# mac
**/.DS_Store