:root {
  --mood0: #c0c0c090;
  --mood1: #db2a2a90;
  --mood2: #f5a52f90;
  --mood3: #ddd01290;
  --mood4: #bccd3e90;
  --mood5: #50db2a90;

  --hg-maxwidth: 540px;
  --hg-minwidth: 350px;
  --hg-minwidthwide: 1000px;
  --hg-xxsmall: 2px;
  --hg-xsmall: 4px;
  --hg-small: 8px;
  --hg-med: 16px;
  --hg-lg: 32px;
  --hg-xlg: 64px;
  --hg-xxlg: 220px;
  --hg-xxxlg: 300px;

  --hg-header: 36px;
  --hg-pgmselect: 128px;
  --hg-instbase: 29px;
  --hg-instinfo: 74px;
  --hg-calendar: 292px;
  --hg-pgmdash: 220px;

  --hg-yellow: #f9f505;
  --hg-black: #111111;
  --hg-white: rgb(252, 252, 252);
  --hg-mid: #555555;
  --hg-blue: #1976d2;
  --hg-green: #6df31f77;
  --hg-red: #db2a2a77;
  --hg-highlight: rgb(34, 34, 34);

  --hg-bold-weight: 600;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: var(--hg-bold-weight);
  color: var(--hg-blue);
  text-decoration: inherit;
}
a:hover {
  color: var(--hg-blue);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  display: block;
  place-items: center;
  min-height: 100vh;
  min-width: var(--hg-minwidth);
  width: 100%;
  color: var(--hg-white);
  background-color: var(--hg-black);
}

main {
  position: relative;
  top: var(--hg-header);
}
h1 {
  font-size: 1.25em;
  line-height: 1.5em;
  font-weight: var(--hg-bold-weight);
}

h3 {
  font-size: 1.1em;
  line-height: 1.1em;
  font-weight: var(--hg-bold-weight);
}

.card {
  padding: var(--hg-xsmall);
}

#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-width: 100%;
}

#event {
  left: 0px;
  top: var(--hg-lg);
}
.hgBold {
  font-weight: var(--hg-bold-weight);
}
.blockPadMed {
  padding: var(--hg-med);
}
.blockPadSm {
  padding: var(--hg-small);
}
.blockPadXSm {
  padding: var(--hg-xsmall);
}
.dark {
  background-color: var(--hg-black);
  color: var(--hg-white);
}
.hg100wide {
  width: 100%;
}

.blockBorder {
  border: 1px solid var(--hg-mid);
  border-radius: var(--hg-small);
}

.sibSpxSmall + .sibSpxSmall {
  margin-left: var(--hg-xsmall);
}

.sibSpSmall + .sibSpSmall {
  margin-left: var(--hg-small);
}

.sibSpMed + .sibSpMed {
  margin-left: var(--hg-med);
}

:global(.q-menu .q-list) {
  background-color: var(--hg-black);
  border: solid 1px var(--hg-mid);
}
.horiz {
  display: flex;
  flex-direction: row;
}

.vert {
  display: flex;
  flex-direction: column;
}

.maxRight {
  margin-left: auto;
}

.maxLeft {
  margin-right: auto;
}

.listStd {
  min-width: var(--hg-xlg);
  width: 100%;
}

.listTitle {
  font-size: 1.25em;
  font-weight: var(--hg-bold-weight);
}

.grid2Col {
  display: grid;
  grid-template-columns: [leftCol] 45% [spacer] 0% [rightCol] 50%;
  column-gap: var(--hg-xsmall);
  row-gap: var(--hg-small);
}

.colTitleWrapper {
  display: flex;
  align-self: end;
  align-items: center;
  grid-row: 1;
}

.leftColumn {
  grid-column: leftCol;
}

.listRow {
  grid-row: 2;
}

.rightColumn {
  grid-column: rightCol;
}

.centered {
  align-items: center;
  align-self: center;
}

header {
  width: 100%;
  max-width: var(--hg-maxwidth);
  height: var(--hg-header);
  position: fixed;
  background-color: var(--hg-black);
  z-index: 1000;
}
header a {
  color: var(--hg-white);
}
header a:hover {
  color: var(--hg-white);
}

header :global(.q-btn-group) {
  width: 100%;
}

header :global(button) :global(.q-icon.q-btn-dropdown__arrow) {
  margin-left: -2px;
}

header :global(.q-btn) {
  padding: 4px 2px;
}

.hgHamburger {
  align-self: flex-start;
  padding: 4px;
}

header .hgHamburger {
  margin-left: auto;
  padding-right: 5px;
}

.helpButton {
  padding-left: 5px;
}
.selActivity {
  min-width: var(--hg-xxlg);
  width: auto;
  font-size: 1.25em;
}

.selActivityWrap {
  composes: horiz;
  align-items: center;
}
.selActivityWrap button {
  font-size: 0.65em;
}

.eventsTable th {
  font-size: 1.25em;
}

.eventsTable tbody td {
  font-size: 1em;
}

.eventsTable td,
.eventsTable th {
  padding: 0px;
  text-align: center;
  border: none;
}

.eventsTable tbody td {
  border: none;
  height: 42px;
}

.eventsTable td:last-child,
.eventsTable th:last-child {
  width: 0px;
  padding: 2px;
}

.eventsTable td.expanded {
  text-align: left;
  font-family: var(--font-family);
  font-size: 1em;
  padding-left: 18px;
}

.eventsTable td.expanded a {
  position: absolute;
  right: 25px;
  top: 25px;
}

.eventsTable td.expanded > a + div {
  line-height: 3em;
  border-bottom: 1px solid var(--hg-mid);
}

.eventsTable td.expanded > div:last-child {
  line-height: 3em;
  border-top: 1px solid var(--hg-mid);
}

:global(.q-table__bottom),
:global(.q-table__container) {
  border: none;
  box-shadow: none;
}

.metaDetails {
  padding: var(--hg-small);
  max-width: var(--hg-xxxlg);
}

.metaDetails > div {
  padding: var(--hg-small);
  align-items: center;
}

.datePicker {
  max-width: var(--hg-xxlg);
}

.selExercise {
  width: 140px;
}

.inputIntensity {
  width: 7em;
}

.binarySet,
.repCountSet {
  border-radius: 4px;
  background-color: var(--hg-black);
  border: 1px solid var(--hg-mid);
  flex-wrap: wrap;
  margin-right: var(--hg-small);
  max-width: 120px;
}

.binarySet + .binarySet {
  margin-top: var(--hg-xxsmall);
}

.binarySet *:first-child,
.repCountSet *:first-child {
  padding-left: var(--hg-small);
}

.binarySet *:last-child,
.repCountSet *:last-child {
  padding-right: var(--hg-small);
}

.hgRepGood,
.hgRepFail {
  line-height: 30px;
}

.hgRepGood {
  color: white;
}

.hgRepFail {
  color: red;
}

.repCountSet {
  color: white;
  display: flex;
}

.repCount + .repCount::before {
  content: '/';
  padding: 0px var(--hg-xxsmall) 0px var(--hg-xxsmall);
}

.exContainer {
  font-size: 1em;
  font-weight: var(--hg-bold-weight);
  margin: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding: 0px;
}
.compositesDialog {
  max-width: var(--hg-xxxlg);
}
.exName {
  color: var(--hg-yellow);
  font-weight: var(--hg-bold-weight);
  min-width: 80px;
  margin-right: 20px;
  overflow-wrap: break-word;
}

.volume {
  margin-right: var(--hg-small);
  margin-left: var(--hg-small);
}

.bgBlack {
  background-color: var(--hg-black);
}

.eqSpSmall > div:nth-child(n + 1) {
  margin-left: var(--hg-small);
}

.timeInput {
  max-width: 60px;
}

.distanceInput {
  width: 5em;
}

.compRep {
  max-width: 3em;
}

.compShow {
  margin-left: var(--hg-lg);
}

#wrapper {
  max-width: var(--hg-maxwidth);
  display: flex;
  flex-direction: column;
}

.metaRating {
  composes: horiz;
  justify-content: space-between;
}
.eventTopRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--hg-small);
}

.activitySelect {
  margin-left: 20px;
}
.exInstContainer {
  composes: blockBorder;
  composes: blockPadSm;
  margin-bottom: var(--hg-small);
}
.exInstRow {
  composes: horiz;
  align-items: center;
  composes: hg100wide;
  margin-top: var(--hg-xsmall);
}

.selProgram {
  composes: selActivity;
  margin: var(--hg-small) 0px var(--hg-small) 0px;
  composes: hgBold;
}
.pgmInstance {
  composes: vert;
  position: sticky;
  top: var(--hg-header);
}
.pgmBlockLabel {
  color: var(--hg-green);
}
.pgmEditibles {
  width: 100%;
}
.pgmChild {
  /* padding: var(--hg-small) 0px 0px var(--hg-med); */
  padding: 10px;
  border: 1px solid var(--hg-green);
  border-radius: 10px;
  margin-bottom: 10px;
}

.pgmCycles {
  composes: blockBorder;
}
.pgmMicrocycle {
}
.pgmMicrocycleEdit :global(label) {
  width: 100%;
}

.pgmMicrocycleEdit {
  border: 1px var(--hg-yellow) solid;
  border-radius: 13px;
  padding: var(--hg-small);
  min-width: 190px;
  width: 80vw;
  max-width: calc(0.8 * var(--hg-maxwidth));
}
.pgmMicrocycleTitle {
  padding-right: var(--hg-small);
}
.pgmMcWorkouts {
  composes: blockPadXSm;
}
.pgmMcWorkoutsEdit {
  composes: vert;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pgmWorkout {
  border-color: var(--hg-yellow);
  composes: blockPadXSm;
}
.pgmSegment {
  padding: 0px 0px 0px var(--hg-xsmall);
}

.pgmSegmentPn :global(textarea) {
  height: 2em;
}

.listActions {
  position: absolute;
  z-index: 1000;
  right: var(--hg-small);
}

.listActionsList {
  composes: vert;
  padding-left: 13px;
}

.listActionsHeader {
  width: 20px;
  color: var(--hg-mid);
}

.buttonArray {
  composes: horiz;
  justify-content: center;
  composes: blockPadSm;
}

.buttonArray .q-btn--round {
  width: 40px;
}

.stickyBottom {
  position: sticky;
  bottom: 0px;
  background-color: var(--hg-black);
  opacity: 90%;
}

.pgmSelect {
  composes: horiz;
  justify-content: space-between;
  align-items: center;
  margin-left: 138px;
}

.pgmInstItem,
.pgmInstItemPast,
.pgmInstItemCurrent {
  padding-left: 10px;
}

.pgmInstItemCurrent {
  font-weight: bold;
  color: var(--hg-green);
}

.pgmInstItemPast {
  color: var(--hg-mid);
}

.pgmSelect :global(.q-btn) {
  font-size: 0.65em;
}

.missedWorkout {
  background-color: var(--hg-red);
}

.futureWorkout {
  background-color: var(--hg-blue);
}

.doneWorkout {
  background-color: var(--hg-green);
}

:global(.q-dialog__backdrop) {
  background: rgba(0, 0, 0, 0.7);
}
.pgmDash {
  margin-bottom: var(--hg-med);
  height: var(--hg-pgmdash);
}

.pgmDash h1 {
  color: var(--hg-yellow);
}

.pgmDash h1 span {
  padding-left: var(--hg-xsmall);
  text-decoration: underline;
}
.pgmDash h1 span:hover {
  cursor: pointer;
}

.pgmStatus {
  composes: horiz;
  padding-top: var(--hg-small);
  justify-content: space-around;
}

.workoutStatus {
  composes: blockPadXSm;
  height: 100px;
}
.workoutStatusWrap {
  composes: horiz;
  justify-content: space-evenly;
  align-items: center;
}
.carouselWrap {
  min-width: 340px;
}
.carouselSlideContent {
  composes: horiz;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--hg-black) var(--hg-mid);
  border: 1px solid var(--hg-mid);
  padding: 0px 0px 0px 6px;
}

.carouselNav {
  composes: horiz;
  justify-content: center;
  align-items: center;
}
.carouselNavWindow {
  max-width: 75%;
  overflow-x: hidden;
  mask-image: gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    black 20% 80%,
    rgba(0, 0, 0, 0) 100%
  );
}
.carouselNavWindow::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.carouselNavButtonArray {
  composes: vert;
  composes: buttonArray;
  padding: var(--hg-small);
  margin-left: auto;
}

.carouselNavButtonArray button {
  font-size: 10px;
}

.carouselNavBtnWrap {
  composes: horiz;
}
.carouselNavBtnWrap div {
  padding: 0px 14px 0px 14px;
}
.carouselNavBtn {
  min-width: 14px;
  min-height: 14px;
  width: 14px;
  height: 14px;
  cursor: default;
}
.carouselNavCurrent {
  min-width: 18px;
  min-height: 18px;
}

.carouselNavToday {
  background: transparent;
  margin-top: -16px;
  height: 14px;
  width: 14px;
}
.workoutStatusIcon {
  font-size: 3em;
}
.pgmWrap {
  composes: vert;
  position: sticky;
  top: var(--hg-header);
  align-items: center;
}

.pgmStartWrap {
  composes: horiz;
  align-items: center;
  justify-content: center;
}
.pgmMap {
  width: 280px;
  min-width: 280px;
  max-width: 100%;
}
.pgmMapBlock {
  border-left: solid 5px var(--hg-blue);
  margin-bottom: var(--hg-small);
  padding: var(--hg-small);
  border-radius: 1.5em;
}
.pgmMapBlock + .pgmMapBlock {
  margin-top: var(--hg-xsmall);
}
.pgmMapCycle {
  composes: horiz;
  justify-content: space-evenly;
  border: 1px var(--hg-yellow) solid;
  border-radius: 1.5em;
}
.pgmMapCycle + .pgmMapCycle {
  margin-top: var(--hg-xxsmall);
}
.pgmSelectWrap {
  height: var(--hg-pgmselect);
}
.pgmCentered {
  width: 100%;
  min-width: 100%;
  composes: vert;
  align-items: center;
}
.pgmSelected {
  background-color: var(--hg-highlight);
}

.pgmTitle {
  position: sticky;
  top: 0px;
  background-color: var(--hg-black);
  z-index: 100;
}

:global(#pgm-context) {
  margin-bottom: 10px;
}
.pgmBlockTitle,
.pgmCycleTitle {
  composes: horiz;
  align-items: baseline;
  font-weight: 700;
  padding-right: var(--hg-small);
}

.pgmBlockTitle div,
.pgmCycleTitle div {
  font-weight: 500;
}
.pgmBlockTitle > div:first-child,
.pgmCycleTitle > div:first-child {
  width: 5em;
  font-size: 1.25em;
}

.programMap {
  composes: horiz;
  align-items: center;
  composes: centered;
}

.programEdit {
  position: relative;
  left: 30px;
}
.pgmMapWorkout button {
  font-size: 0.75em;
  padding: 0em 0em;
  z-index: 100;
}
.pgmMapSelected {
  color: var(--hg-green);
}

.pgmActions {
  position: sticky;
  bottom: 0;
  background: var(--hg-black);
  max-width: 430px;
}

:global(#program-dash .q-carousel__slide) {
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: var(--hg-small);
}
:global(#program-dash .q-carousel__next-arrow--horizontal) {
  right: var(--hg-xsmall);
}
:global(#program-dash .q-carousel__prev-arrow--horizontal) {
  left: 0px;
}
:global(#wo-wrap) {
  overflow-y: auto;
  border: solid 1px var(--hg-mid);
  border-radius: 5px;
  align-self: center;
  width: 500px;
}

:global(#inst-wrap) {
  min-width: 290px;
  overflow-y: scroll;
  max-height: calc(
    100vh - var(--hg-header) - var(--hg-instbase) - var(--hg-instinfo) -
      var(--hg-calendar)
  );
  border: solid 1px var(--hg-mid);
  border-radius: 5px;
  align-self: center;
}

.instInfo,
.instBase {
  width: 350px;
  align-self: center;
  composes: blockPadSm;
}
.instInfo {
  height: var(--hg-instinfo);
}
.instInfo :global(.q-btn) {
  font-size: 0.65em;
}

.instInfo .pgmBlock {
  margin-bottom: 4px;
}

.instBase {
  height: var(--hg-instbase);
}

.instWorkout {
  composes: horiz;
  justify-content: space-between;
  composes: blockPadSm;
}
.instWorkoutStatus {
  font-size: 2em;
  composes: blockPadSm;
}

.evtHighlight {
  background-color: var(--hg-highlight);
}

.evtMenu {
  min-width: 60px;
}

.dailyStatsWrap {
  composes: bgBlack;
  composes: blockPadSm;
}

.dailyStatsWrap :global(input::-webkit-inner-spin-button) {
  display: none;
}

.dailySliders {
  composes: horiz;
  justify-content: space-around;
  composes: blockPadMed;
}
.dailySlider {
  composes: vert;
  composes: blockPadSm;
}

.dailySlider > div {
  padding-top: var(--hg-med);
}
.analyzePage {
  composes: vert;
  align-items: center;
}

.analyzePage .datePicker {
  max-width: 148px;
}

.analyzeFilters {
  composes: horiz;
  align-items: center;
  margin-top: 1em;
}
.exerciseFilter {
  align-self: flex-start;
  margin-top: 5px;
  margin-right: 8em;
}

.exerciseFilter :global(.q-item__label) {
  font-weight: 700;
}
.aggregateFilter {
  composes: horiz;
  align-items: center;
  font-weight: 700;
}
.aggregateFilterLabel {
  margin-right: 1.5em;
}
.chartFilter {
  composes: vert;
  align-items: center;
  margin-top: var(--hg-lg);
}

.analyzePage .selExercise {
  width: 80%;
  padding: var(--hg-small) 0px var(--hg-lg) 0px;
}
.analyzeDates {
  composes: horiz;
  justify-content: space-around;
  margin-bottom: 3em;
}

.analyzeDates > div {
  padding: 0px var(--hg-med);
}

.analyzeChart {
  height: 700px;
}
.filterOptions {
  padding: var(--hg-xsmall) 0px;
}

:global(#chartvolume) {
  padding: var(--hg-med) 0px;
}

.spinner {
  height: 95vh;
  width: 95vw;
  position: absolute;
  top: 0vh;
  background: black;
  opacity: 50%;
  z-index: 100;
  justify-content: center;
  align-items: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--hg-white);
    background-color: var(--hg-black);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--hg-white);
    background-color: var(--hg-black);
  }
  div.qMenu {
    color: #191717;
  }
  a:hover {
    color: #def6da;
  }
  button.q-btn.bg-white {
    background-color: #c5f2bd;
  }
}

@media (width <= 480px) {
  .eventTopRow {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (1250px <= width) {
  body {
    min-width: var(--hg-minwidthwide);
  }

  main > div.vert {
    align-items: center;
  }

  .eventsTable {
    min-width: 700px;
  }
  .eventsTable td.expanded {
    padding-left: 100px;
  }
  #wrapper {
    min-width: var(--hg-minwidthwide);
  }

  .analyzeChart {
    width: 700px;
  }

  header {
    max-width: var(--hg-minwidthwide);
  }

  header .pageButtons :global(.q-btn) {
    padding: 4px 47px;
  }
  header .pageButtons {
    margin-left: auto;
  }
  .pgmWrap {
    /* max-width: 700px; */
  }

  .pgmDash {
    width: 300px;
  }
}
